
.author-div {
  text-align: center;
  padding: 1rem;
  background-color: antiquewhite;
  margin-left: 0;
}

.author-div div {
  margin-bottom: 1rem;
}

.author-introduction {
  font-size: .8rem;
  color:#999;
}

.account {
  margin-left: .5rem;
  margin-right: .5rem;
  background-color: #999;
}